@import url(./fonts.css);

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #9C27B0, #673AB7);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    font-family: 'LilitaOne', sans-serif;
    color: #252525;
}

.bg {
    background-image: url(./images/bg.png);
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    opacity: .5;
}

h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    z-index: 1;
    color: #ffffff;
}


a {
    text-decoration: none;
    color: #ffffff;
    transition: .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a::after {
    content: "";
    width: 10%;
    height: 3px;
    background-color: #ffffff;
    transition: .3s;
    border-radius: 5px;
}

a:hover {
    color: #edc0ff;
}

a:hover::after {
    width: 100%;
    background-color: #edc0ff;
}

.timer {
    width: 325px;
    height: 475px;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 16px;
    display: flex;
    align-items: center;
    flex-shrink: 1;
    z-index: 1;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .3);
    gap: 15px;
}

.timer {
    font-size: 32px;
}

.timer span {
    font-size: 64px;
}

.clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    transition: flex-grow .5s;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.numbers > * {
    flex-basis: 30%;
    flex-grow: 1;
    flex-shrink: 1;
}

.priority {
    flex-basis: 100%;
}

.progress-bar-wrapper {
    display: none;
    justify-content: flex-start;
    width: 100%;
    height: 5px;
}

.progress-bar {
    display: block;
    width: 0%;
    height: 100%;
    background-color: #252525;
    border-radius: 5px;
}

@keyframes show-progress {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.submiters-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.submiter {
    flex-basis: auto;
    flex-grow: 0;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-submit-type="start"] {
    width: 75px;
    height: 75px;
    font-size: 64px;
}

button {
    border: 0; /*2px solid #000*/
    width: 50px;
    height: 50px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #fff;
    font-size: 32px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .3);
    transition: .3s;
    font-family: 'LilitaOne', sans-serif;
}

button:hover {
    transform: scale(1.05);
    background-color: #f4f4f4;
}